:root{
    --primary-color:rgb(9, 182, 235);
    --secondary-color:#0081a7;
    --secondary-color-variant:#219ebc;
    --border-radius:0.6rem;
    --color-white:white;
    --color-dark:rgb(129, 83, 83);

    scroll-behavior: smooth;
}
header{
    flex-direction: row;

  
}
body{
    background-color: var(--color-dark);
}
.container{
    margin: auto;
    max-width: 1200px;
}
aside{
    flex-basis: 40%;
}
nav{
    position: static;
}
nav > a{
    display: none;
}
nav div{
    transform: translateX(0);
    flex-direction: row;
    position: static;
    justify-content: space-around;
}
nav div a{
    text-align: center;
    border-top: none;
    font-size: clamp(12px,1.2vw,20px);
}